* {
    margin: 0;
}

body {
    font-family: Tahoma;
    background-color: #d0d8e4;
}

#blue-bar {
    height: 60px;
    background-color: rgb(59, 89, 152);
    color: #d9dfeb;
    /* padding: 4px; */
}

#mybook {
    width: 800px;
    margin: auto;
    font-size: 30px;
}

#mybook-text {
    line-height: 60px;
}

#search_box {
    width: 400px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
    margin-top: 12px;
    font-size: 14px;
    vertical-align: top;
    background-image: url(../social-images/search.png);
    background-repeat: no-repeat;
    background-position: right;
}

#profile-picture {
    width: 63px;
    float: right;
}

#cover-area {
    width: 800px;
    margin: auto;
    min-height: 400px;
}

#cover-container {
    background-color: white;
    text-align: center;
    color: #405d9b;
}

#mountain-img {
    width: 100%;
}

#profile-picture-round {
    width: 150px;
    border-radius: 50%;
    border: solid 2px white;
}

.menu-buttons {
    width: 100px;
    display: inline-block;
    margin: 2px;
}

/* TODO */
#zesty-kun {
    font-size: 20px;
}

#flexbox {
    display: flex;
}

#box1 {
    min-height: 400px;
    flex: 1;
}

#box2 {
    min-height: 400px;
    flex: 2.5;
    padding: 20px;
    padding-right: 0px;
}

.friends_img {
    width: 75px;
    float: left;
    margin: 8px;
}

#friends_bar {
    min-height: 400px;
    margin-top: 20px;
    color: #405d9b;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

.friends {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    color: #405d9b;
}

#posts_box {
    border: solid thin #aaa;
    padding: 10px;
    background-color: white;
}

textarea {
    width: 100%;
    border: none;
    font-family: Tahoma;
    font-size: 14px;
    height: 60px;
}

#post_button {
    float: right;
    background-color: #405d9b;
    border: none;
    color: white;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;
}

#post_img {
    width: 75px;
    margin-right: 8px;
}

#post_bar {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

#post {
    padding: 4px;
    font-size: 13px;
    display: flex;
    margin-bottom: 20px;
}

#post_owner_name {
    font-weight: bold;
    color: #405d9b;
    margin-right: 8px;
}